

<p>
  <b>Matricula:</b>
  <%= @aluno.matricula %>
</p>

<p>
  <b>Nome:</b>
  <%= @aluno.nome %>
</p>

<p>
  <b>Curso:</b>
  <%= @aluno.curso %>
</p>

<p>
  <b>Matriz curso:</b>
  <%= @aluno.matriz_curso %>
</p>

<p>
  <b>P:</b>
  <%= @aluno.p %>
</p>

<p>
  <b>Ti:</b>
  <%= @aluno.ti %>
</p>

<p>
  <b>Ta:</b>
  <%= @aluno.ta %>
</p>

<p>
  <b>Qr:</b>
  <%= @aluno.qr %>
</p>

<p>
  <b>Mra:</b>
  <%= @aluno.mra %>
</p>

<p>
  <b>Mga:</b>
  <%= @aluno.mga %>
</p>

<p>
  <b>Mgc:</b>
  <%= @aluno.mgc %>
</p>


<%= link_to 'Editar', edit_aluno_path(@aluno) %> |
<%= link_to 'Voltar', alunos_path %>
